{% extends "layoutproduct.html" %} {% block body %}

<div class="m-4">
  <div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white px-8 py-6 rounded shadow-md">
      <h2 class="text-2xl font-bold mb-6">Login</h2>
      {% if data[1] %}
      <div
        class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md"
        role="alert"
      >
        <div class="flex">
          <div class="py-1">
            <svg
              class="fill-current h-6 w-6 text-teal-500 mr-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
              />
            </svg>
          </div>
          <div><p class="font-bold">{{ data[1] }}</p></div>
        </div>
      </div>
      {% endif %}

      <form action="/login" method="post">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email"
            >Username</label
          >
          <input
            class="border border-gray-300 rounded-md py-2 px-4 w-full"
            type="text"
            id="username"
            name="username"
            placeholder="Enter your username"
            required
          />
        </div>
        <!-- <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email"
            >Email</label
          >
          <input
            class="border border-gray-300 rounded-md py-2 px-4 w-full"
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </div> -->
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
            >Password</label
          >
          <input
            class="border border-gray-300 rounded-md py-2 px-4 w-full"
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
          />
        </div>
        <div class="flex justify-evenly">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none items-center"
            type="submit"
          >
            Login
          </button>
        </div>
        <a href="/signup_page">
          <div
            class="text-black font-bold hover:text-blue-500 py-2 text-center underline my-2"
          >
            Sign Up
          </div>
        </a>
      </form>
    </div>
  </div>

  <!-- page end -->
</div>

{% endblock %}
